<h3>施設の予約</h3>

<%= form_for([@room, @room.reservations.new]) do |f| %>
    <%= f.hidden_field :room_id, value:@room.id %>
    <%= f.hidden_field :user_id, value:current_user.id %>
     <table>
        <tr>
          <th><%= f.label :reserve_start, "チェックイン" %></th>
          <td><%= f.date_field :reserve_start %></td>
        </tr>

        <tr>
          <th><%= f.label :reserve_end, "チェックアウト", class: "control-label" %></th>
          <td><%= f.date_field :reserve_end %></td>
        </tr>

        <tr>
          <th><%= f.label :reserve_people, "人数" %></th>
          <td><%= f.number_field :reserve_people, min: 1 %></td>
        </tr>
      </table>

      <div>
        <ul>
          <li><%= f.submit "予約する"%></li>
        </ul>
      </div>
  <% end %>

</div>