<!DOCTYPE html>
<html>
  <head>
    <title>Reservateapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- webpackerで管理する -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    
    <%= yield %>

    <nav class="d-flex align-items-center justify-content-center bg-footer">
      <div class="container">
        <a class="pb-2" href = "/">
          <img class="logo-size pb-2" src = "/assets/homes/logo.png">
        </a>
        <p class="copyright">Copyright © Potepan Share 2023 All rights reserved</p>
      </div>
    </nav>
  </body>
</html>
